article {
    background-color: lightblue;
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    float: right;
    width: fill;
    font-size: 40px;
}

button {
    color: black;
    margin-right: 10px;
    background-color: orange;
}
.popupHeading{
    margin-left: 10px;
}

.switchLine{
    text-align: right;
    margin: 5px 10px 10px 10px;
    display: flex;
    justify-content: space-between;
}

.buttonLine{
    text-align: middle;
    display: flex;
    justify-content: center;
}

.list {
    margin-left: 10px;
    margin-right: 10px;
}

.title{
    font-size: 30px;
    padding: 5px 0px 0px 6px;
    display: block;
}

.subtitle{
    font-size: 25px;
    padding: 5px 0px 10px 6px;
    display: block;
}

.dropdownLine{
    display: block;
    justify-content: space-around;
    margin-left: 10px;
    margin-right: 10px;
}

.dropdown {
    margin-top: 10px;
    margin-bottom: 10px;
}

.notifsSurface, .settingsSurface {
    background: white;
}

.radioLine{
    display: flex;
    justify-content: space-between;
    width: 290px;
}

.settingsIcon {  
    margin-right: 100px;
} 


.popup_settings_inner {  
    position: absolute;
    margin: 5px;  
    border-radius: 20px;  
    background: red;
    background-color: blue;
}

.avatar {
    margin-right: 20px;
}